---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets';
import logoImage from "../../assets/Logo.png"
import {Typing} from "../../components/typing.jsx"
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body class="h-screen font-Verdana sans-serif  leading-6 text-white min-h-screen bg-gray-900">
		<Header />
		<main  class="h-full bg-background-color flex flex-col justify-center items-center">
      <!-- <Image class="rounded-md" src={logoImage} alt="My Logo"/> -->
      <div class="flex flex-row gap-3  lg:flex-row md:flex-row sm:flex-col">
    <!-- <Image class="rounded-md max-w-full h-auto transform scale-25 sm:scale-50 md:scale-75 lg:scale-100" src={logoImage} width={400} alt="My Logo"/> -->
    <section class="flex flex-col max-w-prose justify-center items-center"  id="intro">
      <div class="text-white">
			  <h1>{SITE_DESCRIPTION}</h1>
			  <p>
			    Nothing to see here, just working on awesome stuff. 	
			  </p>
        <Typing client:load/>
    </div>
    </section>
    <br>
  </div>

      <br>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
                <br>
                <br>
								<FormattedDate date={post.data.pubDate} />
								<a href={`/blog/${post.slug}/`} data-goatcounter-click="blog-post-clicked">{post.data.title}</a>
                <br>
                <br>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
