---
import { Image } from '@astrojs/image/components';
import logoImage from "../assets/Logo.png"
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ContactForm from '../components/ContactForm.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Image src={logoImage} width={400} alt="My Logo"/>
		<Header title={SITE_TITLE} />
		<main>
      <section id="intro">
			<h1>{SITE_DESCRIPTION}</h1>
			<p>
			  Nothing to see here, just working on awesome stuff. 	
			</p>
      </section>

      <section id="bio">
      <h4>Bio</h4>
    	<ul>
				<li>1995 - was born</li>
				<li>2002 - made my first video game mod</li>
				<li>2016 - started to learn Django</li>
        <li>2017 - Started Freelancing after 6 months</li>
				<li>2021 - Got my first corprate job</li>
				<li>2022 to present - Indie Software Engineer building awsome commercial FOSS apps</li>
			</ul>
      </section>
      <section id="hobies">
			<p>
			  I love developing free and open source software and turning them into commercial products. 
        I love learning new things, art and the Sciences.</p>
			<p>Here are a few of my Hobbies and Prjects</p>
			<ul>
				<li>Digital Art with Blender</li>
				<li>Building games in Godot Engine</li>
				<li>CTF challeges like Hack the Box</li>
				<li>Building things with Rust</li>
			</ul>
      </section>
		</main>
		<Footer />
	</body>
</html>
