---
import { getCollection } from 'astro:content';
import FormattedDate from "./FormattedDate.astro"
import Card from "./Card.astro"
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<section class="py-12">
	<div class="flex justify-center w-full">
		<div class="grid grid-cols-1 sm:grid-cols-2 px-12 gap-x-8 items-center">
			{
				posts.map((post) => (
					<div class="py-4 px-4">
						<FormattedDate date={post.data.pubDate} />
						<a href={`/blog/${post.slug}/`}><Card title={post.data.title} description={post.data.description} tags={post.data.tags} /></a>
					</div>
				))
			}  
		</div>
	</div>
</section>

